<div style="display: none" class="shadow" id="shadow"></div>
<div style="display: none" id="login-box" class="login-box">
    <form id="FGTPSWform" >
        <table align="center">
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required="required"></td>

            </tr>         <br>
            <tr>
                <td >PhoneNumber:</td>
                <td><input type="text" name = "phoneNumber" required="required"></td>

            </tr>

            <tr>
                <td> <input type="button" id="confirmFGTPSW" value="Confirm"></td>
                <td> <input type="button" value="Cancel"  align="right" id="closeLoginBox"></td>
            </tr>


        </table>
    </form>



</div>
